  .looping_ad_wrap {
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    background-color:#fff;
    box-shadow:rgb(0 0 0 / 10%) 0px 2px 10px 0px;
    border-radius:8px;
    max-width:450px;
    z-index:9999;
    padding:15px;
    transition:all .5s ease;
  }
  .gila_temax_looping.atas .looping_ad_wrap {
    top:15px;
    right:15px;
    transform:translateY(-300px);
  }
  .gila_temax_looping.atas .looping_ad_wrap.active {
    transform:translateY(0);
  }
  .gila_temax_looping.tengah .looping_ad_wrap {
    top:50%;
    right:15px;
    transform:translate(500px, -50%);
  }
  .gila_temax_looping.tengah .looping_ad_wrap.active {
    transform:translateY(-50%);
  }
  .gila_temax_looping.bawah .looping_ad_wrap {
    bottom:15px;
    right:15px;
    transform:translateY(300px);
  }
  .gila_temax_looping.bawah .looping_ad_wrap.active {
    transform:translateY(0);
  }
  .looping_ad_wrap .head_left {
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
  }
  .looping_ad_wrap .head_left .thumb img {
    width:50px;
    height:50px;
    border-radius:50%;
  }
  .looping_ad_wrap .head_left .description span {
    display:block;
    font-size:16px;
    font-weight:700;
    color:#000;
    margin-bottom:3px;
  }
  .looping_ad_wrap .head_left .description p {
    font-size:14px;
    color:#5f6368;
    margin:0;
  }
  .looping_ad_wrap .head_right .link_button {
    display:block;
    background-color:#1a73e8;
    color:#fff;
    border-radius:30px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    white-space:nowrap;
    padding:10px 15px;
  }
  .looping_ad_wrap .head_right .close_button {
    position:absolute;
    top:5px;
    right:5px;
    line-height:0;
    cursor:pointer;
  }
  .looping_ad_wrap .head_right .close_button svg {
    width:15px;
    height:15px;
    fill:#000;
  }
  @media screen and (max-width:480px) {
    .gila_temax_looping.atas .looping_ad_wrap, .gila_temax_looping.tengah .looping_ad_wrap, .gila_temax_looping.bawah .looping_ad_wrap {
      right:0;
      left:0;
      margin:0 15px;
    }
  }